body {
    margin: 2rem auto;
    font-family: "Poppins", sans-serif;
    background: #DF9CFF;
    max-width: 1201px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.logo {
    cursor: pointer;
}

.menu {
        font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.card-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.large {
    width: 70%;
    background: #FF8D8D;
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid black;
    padding-bottom: 3rem;
}

.small {
    width: 25%;
    background: #FFD88D;
    border: 3px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

.response-area {
    width: fit-content;
    height: auto;
    margin: 3rem auto;
    background: rgb(255, 247, 247);
    border: 3px solid black;
    border-radius: 8px;
    color: rgb(43, 43, 43);
    text-align: center;
}

.response-area p {
    margin: 0.5rem 2rem;
    font-style: italic;
}

.btn-right {
    background: #F5FFF3;
    color: black;
    border: 3px solid black;
    margin-left: 1rem;
    border-radius: .5rem;
    float: right;
    padding: .5rem;
}

.btn-left {
    background: #F5FFF3;
    color: black;
    border: 3px solid black;
    margin-left: 1rem;
    border-radius: .5rem;
    float: left;
    padding: .5rem;
}

.input {
    border-style: solid;
    border-width: 3px 9px 9px 3px;
    border-color: black;
    border-radius: 10px;
    background: #F5FFF3;
    margin-bottom: 1rem;
    float: right;
}

.input-left {
    float: left;
    margin-left: 1rem;
    border-style: solid;
    border-width: 3px 9px 9px 3px;
    border-color: black;
    border-radius: 10px;
    background: #F5FFF3;
    margin-bottom: 1rem;
}

.input-right {
    float: right;
    margin-right: 1rem;
    border-style: solid;
    border-width: 3px 9px 9px 3px;
    border-color: black;
    border-radius: 10px;
    background: #F5FFF3;
    margin-bottom: 1rem;
}

.info {
    font-size: 1.5rem;
}



